@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url(../css/navbar.min.css);
@import url(../css/footer.min.css);
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  cursor: pointer;
}

#our-pricing-plans {
  background: #FFF;
}
#our-pricing-plans .pricing {
  padding: 128px 0;
}
#our-pricing-plans .pricing .content {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 64px;
  text-align: center;
}
#our-pricing-plans .pricing .content h1 {
  color: var(--Dark-blue, #282938);
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
}
#our-pricing-plans .pricing .content p {
  margin-right: auto;
  margin-left: auto;
  max-width: 562px;
  color: var(--Dark-blue, #282938);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
#our-pricing-plans .pricing .row .row__card {
  border-radius: 12px;
  background: var(--Grey, #F4F6FC);
  max-width: 406px;
  padding: 64px 48px;
  transition: 0.5s;
}
#our-pricing-plans .pricing .row .row__card div {
  display: flex;
  align-items: center;
  gap: 8px;
}
#our-pricing-plans .pricing .row .row__card div h3 {
  color: var(--Dark-blue, #282938);
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
}
#our-pricing-plans .pricing .row .row__card div span {
  color: var(--Royal-Blue, #2405F2);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
#our-pricing-plans .pricing .row .row__card h6 {
  color: var(--Dark-blue, #282938);
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}
#our-pricing-plans .pricing .row .row__card p {
  max-width: 281px;
  color: var(--Dark-blue, #282938);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
#our-pricing-plans .pricing .row .row__card ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 78px 0;
  padding-left: 0;
}
#our-pricing-plans .pricing .row .row__card ul li {
  color: var(--Dark-blue, #282938);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
#our-pricing-plans .pricing .row .row__card ul li span {
  color: var(--Dark-blue, #282938);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
}
#our-pricing-plans .pricing .row .row__card button {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  max-width: 254px;
  padding: 15px 51px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 41px;
  background: var(--Dark-blue, #282938);
  color: var(--Grey, #F4F6FC);
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
}
#our-pricing-plans .pricing .row .row__card:hover {
  transform: scale(1.005);
  background: #1C1E53;
}
#our-pricing-plans .pricing .row .row__card:hover div h3 {
  color: var(--White, #FFF);
}
#our-pricing-plans .pricing .row .row__card:hover div span {
  color: var(--Yellow, #FCD980);
}
#our-pricing-plans .pricing .row .row__card:hover h6 {
  color: var(--White, #FFF);
}
#our-pricing-plans .pricing .row .row__card:hover p {
  color: var(--White, #FFF);
}
#our-pricing-plans .pricing .row .row__card:hover ul li {
  color: var(--White, #FFF);
}
#our-pricing-plans .pricing .row .row__card:hover ul li span {
  color: var(--White, #FFF);
}
#our-pricing-plans .pricing .row .row__card:hover button {
  background: var(--Yellow, #FCD980);
  color: var(--Dark-blue, #282938);
}

#accordion .accordion .row .accordion__left h2 {
  max-width: 406px;
  color: var(--Dark-blue, #282938);
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
}
#accordion .accordion .row .accordion__left a {
  color: var(--Royal-Blue, #2405F2);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
#accordion .accordion .row .accordion__right .acc {
  padding-top: 0 !important;
}
#accordion .accordion .row .accordion__right .acc .accordion .accordion-item .accordion-header button {
  color: var(--Dark-blue, #282938);
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}
#accordion .accordion .row .accordion__right .acc .accordion .accordion-item .accordion-header button span {
  margin-right: 58px;
  color: var(--Royal-Blue, #2405F2);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}
#accordion .accordion .row .accordion__right .acc .accordion .accordion-item .accordion-collapse .accordion-body p {
  max-width: 624px;
  opacity: 0.87;
  color: var(--Dark-blue, #282938);
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}
#accordion .accordion .row .accordion__right .acc .accordion-button::after {
  background-image: url("../assets/images/plus.svg ");
  transition-duration: 0.5s;
}
#accordion .accordion .row .accordion__right .acc .accordion-button:not(.collapsed)::after {
  background-image: url("../assets/images/cansel.svg");
}