@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url(../css/navbar.min.css);
@import url(../css/footer.min.css);

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
}

a{
    text-decoration: none;
}

#about-us{
    padding: 128px 0;
    background: #fff;
    .about-us{
        .row{
            .left{
                span{
                    color: var(--Dark-blue, #282938);
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 32px;
                }

                h1{
                    max-width: 595px;
                    color: var(--Dark-blue, #282938);
                    font-size: 54px;
                    font-weight: 600;
                    line-height: 74px;
                }

                p{
                    max-width: 484px;
                    color: var(--Dark-blue, #282938);
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 28px;
                }
            }
            
        }
    }
}

.content{
    .row-1{
        background: #F4F5F5;
        padding: 96px 0;
        padding-left: 80px;
        .content-box{
            h1{
                color: var(--Dark-blue, #282938);
                font-size: 38px;
                font-weight: 600;
                line-height: 56px;
            }

            p{
                max-width: 515px;
                color: var(--Dark-blue, #282938);
                font-size: 16px;
                font-weight: 400;
                line-height: 28px;
            }
        }
    }
}

#meet-our-team{
    background: var(--Grey, #F4F6FC);
    .meet-our-team{
        .row{
            gap: 32px;
            .row-card{
                max-width: 296px;
                background: #FFF;
                padding: 48px 64px;
                text-align: center;

                h6{
                    margin-top: 30px;
                    color: var(--b, #1D2130);
                    text-align: center;
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 36px;
                }
                
                span{
                    opacity: 0.7;
                    color: var(--b, #1D2130);
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 28px;
                }
            }
        }
    }
}